#menu_host {
    position: absolute;
    left: 0px;
    top: 44px;
}

#menu_host1 {
    position: absolute;
    right: 0px;
    top: 44px;
}

@keyframes anibtnborder {
    0% {
        border-color: rgba(96,205,255,0);
    }

    5% {
        border-color: rgba(96,205,255,0.1);
    }

    10% {
        border-color: rgba(96,205,255,0.2);
    }

    15% {
        border-color: rgba(96,205,255,0.3);
    }

    20% {
        border-color: rgba(96,205,255,0.4);
    }

    25% {
        border-color: rgba(96,205,255,0.5);
    }

    30% {
        border-color: rgba(96,205,255,0.6);
    }

    35% {
        border-color: rgba(96,205,255,0.7);
    }

    40% {
        border-color: rgba(96,205,255,0.8);
    }

    45% {
        border-color: rgba(96,205,255,0.9);
    }

    50% {
        border-color: rgba(96,205,255,1);
    }

    55% {
        border-color: rgba(96,205,255,0.9);
    }

    60% {
        border-color: rgba(96,205,255,0.8);
    }

    65% {
        border-color: rgba(96,205,255,0.7);
    }

    70% {
        border-color: rgba(96,205,255,0.6);
    }

    75% {
        border-color: rgba(96,205,255,0.5);
    }

    80% {
        border-color: rgba(96,205,255,0.4);
    }

    85% {
        border-color: rgba(96,205,255,0.3);
    }

    90% {
        border-color: rgba(96,205,255,0.2);
    }

    95% {
        border-color: rgba(96,205,255,0.1);
    }

    100% {
        border-color: rgba(96,205,255,0);
    }
}

.menubtn {
    outline: none;
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 2px 5px;
    transition: background-color 0.3s linear;
    border-top: 2px solid rgba(0,0,0,0);
}

    .menubtn:hover {
        transition: background-color 0.3s linear;
        background-color: #404040;
        border-top: 2px solid #60cdff;
        animation-name: anibtnborder;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }

    .menubtn:active {
        transition: background-color 0s linear;
        background-color: #222;
    }

    .menubtn[istoggled="true"] {
        animation-name: anibtnborder;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }

#menu_host1 input[type="submit"] {
    outline: none;
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 2px 5px;
    transition: background-color 0.3s linear;
    border-bottom: 2px solid rgba(0,0,0,0);
}

    #menu_host1 input[type="submit"]:hover {
        transition: background-color 0.3s linear;
        background-color: #404040;
        border-bottom: 2px solid #60cdff;
        animation-name: anibtnborder;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }

    #menu_host1 input[type="submit"]:active {
        transition: background-color 0s linear;
        background-color: #222;
    }

#menu_host1 input[istoggled="true"][type="submit"] {
    animation-name: anibtnborder;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}


.sidebar_mbtn {
    background-color: rgba(0,0,0,0);
    width: 300px;
}

    .sidebar_mbtn:hover {
        background-color: rgba(255,255,255,0.2);
    }

.sidebar_item_clbtn {
    opacity: 1;
    width: 16px;
    height: 16px;
    background-image: url(/img/x.png);
    background-repeat: no-repeat;
}

    .sidebar_item_clbtn:hover {
        opacity: 0.5;
    }

.sidebar_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

.sidebar_item {
    width: 100%;
    height: 60px;
}

    .sidebar_item table {
        width: 100%;
        height: 100%;
    }

.sidebar_item_title {
    padding: 0 5px;
    font-size: 16px;
    color: #fff;
}

.sidebar_item_des {
    padding: 0 5px;
    font-size: 12px;
    color: #aaa;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    font-family: 'Segoe UI';
    box-shadow: -6px 0px 9px -3px rgba(0,0,0,1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.sidebar_content {
    height: 100%;
    width: 100%;
}



.cssmenu {
    font-family: 'Segoe UI', Arial;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #fff;
    background-color: #262626;
}

    .cssmenu > ul {
        width: auto;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }

        .cssmenu > ul li#responsive-tab {
            display: none;
            /* Hide for large screens */
        }

        .cssmenu > ul li {
            display: inline-block;
            *display: inline;
            zoom: 1;
        }

            .cssmenu > ul li.right {
                float: right;
            }

            .cssmenu > ul li.has-sub {
                position: relative;
            }

                .cssmenu > ul li.has-sub:hover ul {
                    display: block;
                }
                  .cssmenu > ul li.has-sub[focus="true"] {
                             background-position: 90% 195%;
                        border-top: 1px solid rgba(96,205,255,1); 
                }

                .cssmenu > ul li.has-sub ul {
                    display: none;
                    width: 250px;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    background: #404040;
                    border: none;
                    border-top: 0 none;
                    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
                }

                    .cssmenu > ul li.has-sub ul li {
                        display: block;
                    }

                .cssmenu > ul li.has-sub > a {
                    background-repeat: no-repeat;
                    background-position: 90% -95%;
                    border-top: 1px solid rgba(96,205,255,0);
                }

                    .cssmenu > ul li.has-sub > a.active,
                    .cssmenu > ul li.has-sub > a:hover {
                        background-position: 90% 195%;
                        border-top: 1px solid rgba(96,205,255,1);
                        padding-left: 10px;
                    }
                                 .cssmenu > ul li.has-sub > a[focus = "true"] {
                        background-position: 90% 195%;
                        border-top: 1px solid rgba(96,205,255,1);
                        padding-left: 10px;
                    }
            .cssmenu > ul li a {
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                color: #aaa;
                border-top: 1px solid rgba(96,205,255,0);
                transition: all 0.6s ease;
            }

                .cssmenu > ul li a.active,
                .cssmenu > ul li a:hover {
                    background: #3a3a3a;
                    color: #fff;
                    border-top: 1px solid rgba(96,205,255,1);
                    transition: all 0.3s ease;
                    padding-left: 15px;
                } 
                .cssmenu > ul li a[focus="true"] {
                    background: #3a3a3a;
                    color: #fff;
                    border-top: 1px solid rgba(96,205,255,1);
                }

@media (max-width: 600px) {
    .cssmenu > ul {
        width: 100%;
    }

        .cssmenu > ul li#responsive-tab {
            display: block;
        }

            .cssmenu > ul li#responsive-tab a {
                background-position: 95% -35%;
            }

                .cssmenu > ul li#responsive-tab a:hover {
                    background-color: #262626;
                    background-position: 95% 135%;
                }

        .cssmenu > ul li {
            display: none;
        }

            .cssmenu > ul li.right {
                float: none;
            }

            .cssmenu > ul li.has-sub {
                position: relative;
            }

                .cssmenu > ul li.has-sub ul {
                    display: block;
                    position: static;
                    width: 100%;
                    background: #404040;
                    border: 0 none;
                }

                    .cssmenu > ul li.has-sub ul li {
                        display: block !important;
                    }

                        .cssmenu > ul li.has-sub ul li a span {
                            display: block;
                            padding-left: 24px;
                        }

                .cssmenu > ul li.has-sub > a {
                    background-image: none;
                }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
    .cssmenu > ul > li.collapsed {
        display: inline-block !important;
        *display: inline;
        zoom: 1;
    }

    .cssmenu > ul ul li.collapsed {
        display: block !important;
    }
}
