::selection {
    background: #646464; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #646464; /* Gecko Browsers */
}

noscript {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}

body {
    font-family: 'Segoe UI', Arial;
    font-size: 12px;
    padding: 0;
    margin: 0; 
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none; 
    cursor:default;
}
#bg { 
    background: no-repeat center center fixed;
    background-color: #444444;
    background-size: cover;
}
#content_host {
    margin: 0;
    padding: 0; 
    background-color: #333333;
    color: #fff;
    max-width: 700px;
    min-width: 50px;
    margin: 0 auto;
    
}

#shadow_div {

    margin: 0 auto;
    margin-top:80px;
    max-width: 700px;
    min-width: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
       transition:all 0.5s ease;
}
#shadow_div:hover {
    transition:all 1s ease;
    margin: 0 auto;
    margin-top:80px;
    max-width: 700px;
    min-width: 50px;
    box-shadow: 0px 0px 10px 0px rgba(96,205,255,1);
}
#header {
    height: 70px; 
      background-color: #262626;
    margin-bottom: 10px;
    color: #fff;
    position: absolute;
    top:0;
    right:0;
    left:0;
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.92);
}

@keyframes anibtnborder {
    0% {
        border-color: rgba(96,205,255,0);
    }

    5% {
        border-color: rgba(96,205,255,0.1);
    }

    10% {
        border-color: rgba(96,205,255,0.2);
    }

    15% {
        border-color: rgba(96,205,255,0.3);
    }

    20% {
        border-color: rgba(96,205,255,0.4);
    }

    25% {
        border-color: rgba(96,205,255,0.5);
    }

    30% {
        border-color: rgba(96,205,255,0.6);
    }

    35% {
        border-color: rgba(96,205,255,0.7);
    }

    40% {
        border-color: rgba(96,205,255,0.8);
    }

    45% {
        border-color: rgba(96,205,255,0.9);
    }

    50% {
        border-color: rgba(96,205,255,1);
    }

    55% {
        border-color: rgba(96,205,255,0.9);
    }

    60% {
        border-color: rgba(96,205,255,0.8);
    }

    65% {
        border-color: rgba(96,205,255,0.7);
    }

    70% {
        border-color: rgba(96,205,255,0.6);
    }

    75% {
        border-color: rgba(96,205,255,0.5);
    }

    80% {
        border-color: rgba(96,205,255,0.4);
    }

    85% {
        border-color: rgba(96,205,255,0.3);
    }

    90% {
        border-color: rgba(96,205,255,0.2);
    }

    95% {
        border-color: rgba(96,205,255,0.1);
    }

    100% {
        border-color: rgba(96,205,255,0);
    }
}

input[type="button"] { 
    outline:none;
    color: #fff;
    border: none;
    background-color: #262626;
    padding: 2px 5px;
    transition: background-color 0.3s linear;
    border-top: 2px solid rgba(0,0,0,0);  
    min-height:28px;
}

    input[type="button"]:hover {
        transition: background-color 0.3s linear;
        background-color: #404040;
        border-top: 2px solid #60cdff;
        animation-name: anibtnborder;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }

    input[type="button"]:active {
        transition: background-color 0s linear;
        background-color: #2b2b2b;
    }

input[type="text"], input[type="password"] { 
    outline:none;
    color: #fff;
    border: none;
    background-color: #222;
    padding: 2px 5px;
    transition: background-color 0.3s linear;
    border-bottom: 2px solid rgba(0,0,0,0);
    outline: none;
    min-height:28px;
}

    input[type="text"]:focus, input[type="password"]:focus {
        transition: background-color 0.3s linear;
        border-bottom: 2px solid #60cdff;
         animation-name: anibtnborder;
        animation-duration: 2s;
        animation-iteration-count: infinite; 
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
url {
    color:#60cdff;
    cursor:pointer; 
    transition: color 0.3s linear;
}
url :hover{
    transition: color 0.3s linear;
    color:#91DBFF; 
}
@keyframes anishadow {
    0% {
        box-shadow: 0px 0px 0px #60cdff;
    }

    10% {
        box-shadow: 0px 0px 2px #60cdff;
    }

    20% {
        box-shadow: 0px 0px 4px #60cdff;
    }

    30% {
        box-shadow: 0px 0px 6px #60cdff;
    }

    40% {
        box-shadow: 0px 0px 8px #60cdff;
    }

    50% {
        box-shadow: 0px 0px 10px #60cdff;
    }

    60% {
        box-shadow: 0px 0px 8px #60cdff;
    }

    70% {
        box-shadow: 0px 0px 6px #60cdff;
    }

    80% {
        box-shadow: 0px 0px 4px #60cdff;
    }

    90% {
        box-shadow: 0px 0px 2px #60cdff;
    }

    100% {
        box-shadow: 0px 0px 0px #60cdff;
    }
}

.logo {
    border-radius: 360px;
    border: 2px solid #aaa;
    background-color: #222;
    box-shadow: 0px 0px 0px #60cdff;
    cursor: pointer;
    background-size: 100% 100%;
    background-position: center;
    transition: all 0.2s ease-out;
    margin: 5px; 
    right:0;
}

    .logo:hover {
        transition: all 0.3s linear;
        border-color: #60cdff;
        box-shadow: 0px 0px 10px #60cdff;
        background-size: 120% 120%;
        animation-name: anishadow;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }

    .logo:active {
        transition: all 0s linear;
        background-size: 100% 100%;
    }

t[control="header"] {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
    padding: 5px;
    background-color: #222;
    border-left: 2px solid #60cdff;
    height: 25px;
    text-transform: uppercase;
    display: block;
    line-height: 25px;
    margin: 5px 0;
    font-weight: bold;
    cursor:default;
}
 
.centerdiv { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px; 
}
